In [1]:
#----------------->1.Dictionary slicing

In [1]:
dict={"Friend_Names":["anitha","vanaja","devi","durga","jaya sri","prasanna","mallika","anusha","naveena","fathima"],"Quality":["intelligent","active","humanity","clever","thinkar","cool","silent","helpfull","hard working","funny"]}
print(dict)

{'Friend_Names': ['anitha', 'vanaja', 'devi', 'durga', 'jaya sri', 'prasanna', 'mallika', 'anusha', 'naveena', 'fathima'], 'Quality': ['intelligent', 'active', 'humanity', 'clever', 'thinkar', 'cool', 'silent', 'helpfull', 'hard working', 'funny']}

In [2]:
import pandas as pd
df=pd.DataFrame(dict)
df

  Friend_Names       Quality
0       anitha   intelligent
1       vanaja        active
2         devi      humanity
3        durga        clever
4     jaya sri       thinkar
5     prasanna          cool
6      mallika        silent
7       anusha      helpfull
8      naveena  hard working
9      fathima         funny

In [3]:
df=pd.DataFrame(dict)
df

  Friend_Names       Quality
0       anitha   intelligent
1       vanaja        active
2         devi      humanity
3        durga        clever
4     jaya sri       thinkar
5     prasanna          cool
6      mallika        silent
7       anusha      helpfull
8      naveena  hard working
9      fathima         funny

In [4]:
df.keys()

Index(['Friend_Names', 'Quality'], dtype='object')

In [5]:
df["Friend_Names"][0]

'anitha'

In [6]:
df["Friend_Names"][0:5]

0      anitha
1      vanaja
2        devi
3       durga
4    jaya sri
Name: Friend_Names, dtype: object

In [7]:
df["Friend_Names"][6:10]

6    mallika
7     anusha
8    naveena
9    fathima
Name: Friend_Names, dtype: object

In [8]:
df["Friend_Names"][0:2]

0    anitha
1    vanaja
Name: Friend_Names, dtype: object

In [9]:
df["Friend_Names"][:-3]

0      anitha
1      vanaja
2        devi
3       durga
4    jaya sri
5    prasanna
6     mallika
Name: Friend_Names, dtype: object

In [10]:
df["Friend_Names"][:-5]

0      anitha
1      vanaja
2        devi
3       durga
4    jaya sri
Name: Friend_Names, dtype: object

In [11]:
df["Friend_Names"][-5:]

5    prasanna
6     mallika
7      anusha
8     naveena
9     fathima
Name: Friend_Names, dtype: object

In [ ]:
#-------------------->2.⁠loops with dictionary

In [ ]:
df={"Friend_Names":["anitha","vanaja","devi","durga","jaya sri","prasanna","mallika","anusha","naveena","fathima"],"Quality":["intelligent","active","humanity","clever","thinkar","cool","silent","helpfull","hard working","funny"]}
for key,value in df.items(): 
    print(key,value)

In [ ]:
⁠#---------------------->3.loops conditions with dictionary

In [ ]:
df={"Friend_Names":["anitha","vanaja","devi","durga","jaya sri","prasanna","mallika","anusha","naveena","fathima"],"Quality":["intelligent","active","humanity","clever","thinkar","cool","silent","helpfull","hard working","funny"]}
for x in df:
    print(df)

In [ ]:
#-------------------------->4.⁠user define function creation

In [ ]:
def fun():
    Friend_Names=("anitha","vanaja")
    Qulity=("intelligent","active")
    return( Friend_Names,Qulity)

(Friend_Names,Qulity)=fun()
print(fun())

In [ ]:
#-------------------------->5.⁠⁠pandas filter (row filters , columns filter , value filter)

In [ ]:
import pandas
import pandas as pd
df=pd.read_excel(r"C:\Users\hp\OneDrive\Documents\swathi_pandas\friends_names.xlsx")
df

In [ ]:
df.s_no.unique()

In [ ]:
df.friend_names.unique()

In [ ]:
df.quality.unique()

In [ ]:
df.columns

In [ ]:
df[df["friend_names"]=="anitha"]

In [ ]:
df[df["friend_names"]!="anitha"]

In [ ]:
#---------------------------->6.⁠pandas group by

In [ ]:
import pandas
import pandas as pd
df=pd.read_excel(r"C:\Users\hp\OneDrive\Documents\swathi_pandas_1\students_markes.xlsx")
df

In [ ]:
df1=df.groupby("names")["markes"].sum()
df1

In [ ]:
df2=df.groupby("names")["markes"].count()
df2

In [ ]:
#---------------------->7.⁠pandas merges and joins

In [ ]:
import pandas
import pandas as pd
df1_sch=pd.read_excel(r"C:\Users\hp\OneDrive\Documents\antssignme_12\school_mets_names.xlsx")
df1_sch

In [ ]:
import pandas
import pandas as pd
df2_coll=pd.read_excel(r"C:\Users\hp\OneDrive\Documents\antssignme_12\college_mets_names.xlsx")
df2_coll

In [ ]:
pd.concat([df1_sch,df2_coll], axis=1)

In [ ]:
pd.concat([df1_sch,df2_coll], axis=0)

In [ ]:
df_inner_merge=df1_sch.merge(df2_coll,how='inner',on='friend_names')
df_inner_merge

In [ ]:
df_left_merge=df1_sch.merge(df2_coll,how='left',on='friend_names')
df_left_merge

In [ ]:
df_right_merge=df1_sch.merge(df2_coll,how='left',on='friend_names')
df_right_merge

In [ ]:
df_outer_merge=df1_sch.merge(df2_coll,how='outer',on='friend_names')
df_outer_merge

In [ ]:
#-------------------------->pandas groupby

In [ ]:
import pandas
import pandas as pd
df=pd.read_csv(r"C:\Users\hp\Downloads\CarPrice_Assignment.csv")
df

In [ ]:
df1=pd.DataFrame(df)
df1

In [ ]:
df2=df.groupby("CarName")["horsepower"].count()
df2

In [ ]:
df3=df.groupby("CarName")["horsepower"].sum()
df3

In [ ]:
df4=df.groupby(["CarName","fueltype"])["price"].count()
df4

In [ ]:
df5=df.groupby(["CarName","fueltype"])["price"].sum()
df5

In [ ]:
df6=df.groupby(["CarName","fueltype"]).agg({"horsepower":["sum","count","mean","median"],"enginesize":["count","sum"]})
df6

In [ ]:
df7=df.groupby(["CarName","doornumber"]).agg({"peakrpm":["sum","count","mean","median"],"highwaympg":["count","sum"]})
df7

In [ ]:
df8=df.groupby(["CarName","doornumber"])["price"].sum()
df8

In [ ]:
df9=df.groupby(["CarName","doornumber"])["price"].count()
df9

In [ ]:
#-------------------------------->pivot table

In [ ]:
df10=pd.pivot_table(df,values='doornumber',index='CarName',columns='horsepower',aggfunc='sum')
df10

In [ ]:
df11=pd.pivot_table(df,values='doornumber',index='CarName',columns='horsepower',aggfunc='count')
df11

In [ ]:
df12=pd.pivot_table(df,values='price',index='CarName',columns='carbody',aggfunc='sum')
df12

In [ ]:
df12=pd.pivot_table(df,values='price',index='CarName',columns='carbody',aggfunc='count')
df12

In [ ]:
df13=pd.pivot_table(df,values='price',index='CarName',columns='enginelocation',aggfunc='sum')
df13

In [ ]:
df14=pd.pivot_table(df,values='price',index='CarName',columns='enginelocation',aggfunc='count')
df14

In [ ]:
df15=pd.pivot_table(df,values='price',index='CarName',columns='enginelocation',aggfunc='mean')
df15

In [ ]:
df16=pd.pivot_table(df,values='price',index='CarName',columns='enginelocation',aggfunc='median')
df16

In [ ]:
df18=pd.pivot_table(df,values='price',index='CarName',columns='boreratio',aggfunc='sum')
df18

In [ ]:
df19=pd.pivot_table(df,values='price',index='CarName',columns='boreratio',aggfunc='count')
df19

In [ ]:
df20=pd.pivot_table(df,values='price',index='CarName',columns='compressionratio',aggfunc='sum')
df20

In [ ]:
dict={"Friend_Names":["anitha","vanaja","devi","durga","jaya sri","prasanna","mallika","anusha","naveena","fathima"],"Quality":["intelligent","active","humanity","clever","thinkar","cool","silent","helpfull","hard working","funny"]}
print(dict)